body{
	text-align: justify;
	background: transparent url("/assets/media/bright_squares.png") repeat scroll 0% 0%;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 1.5rem;
}

.author-bio {
    text-align: left;
}

.post-date {
    display: none;
}

footer {
    padding-bottom: 15px;
}

.sidebar {
	background: #F30334;
	background: -webkit-linear-gradient(bottom right,  #F30334, #20295E) !important;
	background: -moz-linear-gradient(bottom right,  #F30334, #20295E)  !important;
	background: -o-linear-gradient(bottom right,  #F30334, #20295E)  !important;
	background: -ms-linear-gradient(bottom right,  #F30334, #20295E)  !important;
	background: linear-gradient(bottom right,  #F00334, #20295E)  !important;
}

.page-header {
	text-align: center;
}

.icon-link {
	padding-left: 6px;
	padding-right: 6px;
}
